<%- include header %>
<div class="container">
	<div class="row">
		<table class="table table-striped">
			<caption>我的笔记列表</caption>
			<thead>
				<tr>
					<th>标题</th>
					<th>标签</th>
					<th>日期</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>	
			</tbody>
	
	</div>
</div>
<!--div class='container'>
	<div class='jumbotron'>
		<h1>我的第一个Bootstrap页面</h1>
		<p>重置窗口大小，查看响应效果！</p>
	</div>
	<div class='row'>
		<div class='col-sm-4'>
			<h3>第一列</h3>
			<p>啦啦啦啦啦</p>
			<p>啦啦啦啦啦</p>
		</div>
		<div class='col-sm-4'>
			<h3>第二列</h3>
			<p>啦啦啦啦啦</p>
			<p>啦啦啦啦啦</p>
		</div>
		<div class='col-sm-4'>
			<h3>第三列</h3>
			<p>啦啦啦啦啦</p>
			<p>啦啦啦啦啦</p>
		</div>
	</div>
</div-->
<%- include footer %>
